body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #d4f0e6;
    font-family: 'Poppins', sans-serif;
}
.main-body {
    padding: 15px;
}
h6{
  font-size: 36px;
}
.nav-link {
    color: #4a5568;
}
.card {
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
  }

.card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0 solid rgba(0,0,0,.125);
      border-radius: .25rem;
  }
.card-body {
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1rem;
  }
.shadow-none {
    box-shadow: none!important;
}
ul.breadcrumb{
  padding: 10px 16px;
  list-style: none;
  background-color: #d4f0e6;
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}
ul.breadcrumb .breadcrumb-items {
  color: #f18c53;
}
.profile-pic {
  border-radius: 10%;
  height: 72px;
  width: 88px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: transparent;
  transition: all .3s ease;
  margin-bottom: 10px;
}
  span {
    display: inline-flex;
    padding: .2em;
  }
.colspan{
  float: left;
  margin-left: 5%;
  font-size: 24px;
}
.abs{
  margin: 30px;
  background-color: #c4c4c4;
  width: 402px;
  border-radius: 5px;
}
.as {
  margin-left: 10px;
  margin-top: 5px;
}
.es {
  margin-left: 30px;
  width: 330px;
}
.pastext{
  margin-left: 30px;
}
.lhtpass{
  margin-left: 30px;
}
.row img{
  margin-left: 30px;
}
#fullNameHelp{
  font-size: 9px;
}
#tgl {
  width: 100px;
  margin-left: -15px;
  margin-bottom: 10px;
}
#bln{
  width: 100px;
  margin-left: -15px;
  margin-bottom: 10px;
}
#thn {
  width: 100px;
  margin-left: -15px;
  margin-bottom: 10px;
}
#asas {
  font-size: 9px;
}
.asa{
  margin-left: 30px;
  color: white;
}
.pas{
  margin-top: 50px;
  font-size: 11px;
}
.btas{
  display: inline-block;
  margin-left: -10px;
}
.era{
  font-weight: bold;
  font-size: 36px;
}
.rea{
  font-size: 14px;
}
.buttona {
  float: left;
  margin-left: 15px;
}
.pay{
  margin-left: -100px;
}
.cc{
  margin-top: -20px;
  font-size: 10px;
  color: #939393;
}
.paymentmethod{
  margin-top: 10px;
  font-size: 15px;
}
.paymentmethodt{
  margin-left: 25px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}
.visa{
  float: right;
}
